# Maven
target/

# Eclipse
.settings/
.project
.classpath

# Test Reports
test-output/
surefire-reports/

# Screenshots
Screenshots/
ScreenShot/

# Log files
*.log
hs_err_pid*
replay_pid*

# OS files
.DS_Store
Thumbs.db